$primary-color: #111113;
$primary-color-opacified: rgba(17, 17, 19, .3);
$button-primary-color: #CFEAFD;
$nav-bar-links-color: #CFEAFD;

$section-title-color: #CFEAFD;
$section-title-bg: #C7363C;

/* FONT SIZE - mobile*/

$font-size-extra-large-mb: 2rem;