@forward './components/index.scss';
@forward './variables/index.scss';

/*
===========================
RESET
===========================
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*
===========================
FONT FAMILY CONFIG
===========================
*/

@font-face {
    font-family: Oswald;
    src: url('../font/Oswald/static/Oswald-Regular.ttf'),
         url('../font//Oswald/static/Oswald-ExtraLight.ttf');
}

body {
    font-family: Oswald;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background-color: rgb(94, 88, 88);
}

body::-webkit-scrollbar-thumb {
    background-color: #232323;
    border-radius: 30px;
    border: 3px solid rgb(94, 88, 88);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}