@use '../variables' as var;

@media only screen and (max-width: 800px) {
    .menu-bars {
        display: block!important;
        margin-left: auto;
        cursor: pointer;
    }

    .menu {
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, .8);
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
        max-height: 0;
        overflow: hidden;

        .menu__list {
            flex-direction: column;
            a {
                font-size: var.$large!important;
            }
        }
    }
}