#header {
  background-image: url("/public/img/header.jpg");
  height: 130px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.display-flex {
  display: flex;
  align-items: center;
  height: inherit;
}

.menu {
  margin-left: auto;
}

.menu__list {
  list-style: none;
  display: flex;
  gap: 1.4rem;
}
.menu__list .list__item {
  position: relative;
}
.menu__list .list__item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 100%;
  background-color: #fff;
  transform: scaleX(0);
  transition: transform 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transform-origin: right;
}
.menu__list .list__item:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
.menu__list .list__item .link__item {
  display: block;
  padding: 5px;
  color: #fff;
  font-size: 0.8rem;
  text-decoration: none;
  letter-spacing: 0.2rem;
}

#hero {
  position: relative;
  height: 45rem;
}
#hero img {
  position: absolute;
  width: 100%;
  height: inherit;
  object-fit: cover;
  opacity: 0;
  transition: all 0.6s ease-in-out;
}
#hero .show-image {
  opacity: 1;
}
#hero .controls-area {
  position: absolute;
  bottom: 2rem;
  padding-left: 2rem;
  width: 100%;
  display: flex;
  gap: 2rem;
}
#hero .controls-area i {
  color: #fff;
  background-color: rgb(0, 0, 0);
  padding: 1rem;
  font-size: 1.2rem;
  cursor: pointer;
}

#contact {
  padding: 1rem;
  background-color: #020001;
  color: #878787;
}
#contact .contact__flex {
  display: flex;
  gap: 1.5rem;
  font-size: 0.9rem;
}
#contact .contact__flex .contact__area {
  display: flex;
  gap: 1.5rem;
}
#contact .contact__flex .contact__email, #contact .contact__flex .contact__phone {
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}
#contact .contact__flex .contact__email:hover, #contact .contact__flex .contact__phone:hover {
  color: #fff;
}
#contact .contact__flex .contact__midia {
  margin-left: auto;
  font-size: 1.4rem;
  display: flex;
  gap: 1.5rem;
}
#contact .contact__flex .contact__midia i {
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}
#contact .contact__flex .contact__midia i:hover {
  color: #fff;
}

#projects {
  padding: 4rem 1rem;
  background-color: #020001;
  color: #fff;
  font-size: 1.8rem;
  letter-spacing: 0.5rem;
}
#projects .projects__title {
  font-weight: lighter;
  position: relative;
  margin-bottom: 2rem;
}
#projects .projects__title::after {
  content: "";
  position: absolute;
  left: -20rem;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  height: 1px;
  background-color: #fff;
}
#projects .projects__area {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
#projects .area__card {
  position: relative;
}
#projects .area__card:hover .cover {
  opacity: 1;
}
#projects .area__card .cover {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
#projects .area__card img {
  display: block;
  width: 100%;
}

#footer {
  padding: 3rem 1rem;
  background-color: #020001;
  position: relative;
}
#footer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: #878787;
}
#footer .footer__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
#footer .brand {
  text-align: center;
  align-self: start;
}
#footer .footer__p {
  color: #878787;
  font-weight: lighter;
}
#footer .pages {
  color: #878787;
  justify-self: center;
}
#footer .pages .pages__title {
  color: #878787;
}
#footer .pages .pages__list {
  list-style: none;
}
#footer .pages .pages__list a {
  text-decoration: none;
  color: #878787;
  display: block;
  padding: 5px 0;
}
#footer .footer__contact {
  color: #878787;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: start;
  align-self: start;
}
#footer .footer__contact-midia {
  display: flex;
  gap: 1rem;
  font-size: 1.7rem;
}
#footer .footer__related-projects {
  align-self: start;
}
#footer .realated-projects__title {
  color: #878787 !important;
  margin-bottom: 1rem;
}
#footer .related-projects img {
  width: 50px;
}
#footer .related__projects-area {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
#footer .related__projects-area .area__card {
  width: 50px;
}

/*
===========================
RESET
===========================
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*
===========================
FONT FAMILY CONFIG
===========================
*/
@font-face {
  font-family: Oswald;
  src: url("../font/Oswald/static/Oswald-Regular.ttf"), url("../font//Oswald/static/Oswald-ExtraLight.ttf");
}
body {
  font-family: Oswald;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background-color: rgb(94, 88, 88);
}

body::-webkit-scrollbar-thumb {
  background-color: #232323;
  border-radius: 30px;
  border: 3px solid rgb(94, 88, 88);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

/*# sourceMappingURL=style.css.map */
